:root {
  --color-text: #222;

  --color-header-bg: #d9d9d9;
  --color-header-bg-hover: #c4c4c4;
  --color-header-border: #bdbdbd;

  --color-content-border: #dddddd;

  --color-button-bg: #f7f7f7;
  --color-button-border: #cfcfcf;
  --color-button-hover: #eeeeee;

  --radius: 10px;
  --transition-fast: 0.2s ease;
  --transition-slow: 0.35s ease;
}
